[submodule "git-prompt"]
	path = git-prompt
	url = git@github.com:lvv/git-prompt.git
[submodule "powerline-shell"]
	path = powerline-shell
	url = git@github.com:milkbikis/powerline-shell.git
[submodule ".vim/bundle/vim-nerdtree"]
	path = .vim/bundle/vim-nerdtree
	url = git@github.com:scrooloose/nerdtree
[submodule ".vim/bundle/ruby-refactoring"]
	path = .vim/bundle/ruby-refactoring
	url = git@github.com:ecomba/vim-ruby-refactoring
[submodule ".vim/bundle/endwise"]
	path = .vim/bundle/endwise
	url = git@github.com:tpope/vim-endwise
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = git@github.com:tmhedberg/matchit
[submodule ".vim/bundle/better-whitespace"]
	path = .vim/bundle/better-whitespace
	url = git@github.com:ntpeters/vim-better-whitespace
[submodule ".vim/bundle/rubocop"]
	path = .vim/bundle/rubocop
	url = git@github.com:ngmy/vim-rubocop
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-rspec"]
	path = .vim/bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "intellij/intellij-colors-solarized"]
	path = intellij/intellij-colors-solarized
	url = git@github.com:jkaving/intellij-colors-solarized
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript
