[user]
  name = Jeremy Shearer
  email = jeremy.shearer@daveramsey.com 
[core]
  editor = vim
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
  default = simple
[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto
[alias]
	lol = log --graph --decorate --oneline --all
	dammit = commit --amend --no-edit
[branch]
  autosetuprebase = always
[credential]
	helper = osxkeychain
#check that anything we're getting is complete and sane on a regular basis
[transfer]
  fsckobjects = false
[fetch]
  fsckobjects = false
[receive]
  fsckObjects = true
[diff]
  compactionHeuristic = true
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = diffmerge
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
