.DS_Store
*.cache
*.sw[nop]
.bundle
.env
db/*.sqlite3
log/*.log
rerun.txt
tags
tmp/**/*
.vim/.netrwhist
.idea/
.vim/pluged/
node_modules/*
.idea
.iml
logback.xml
yarn-error.log
.python-version
.idea/
.env*.local
