[user]
  name = Jeremy Shearer
  email = mohicanlove@gmail.com
[core]
  editor = vim
	excludesfile = /Users/mohican/.gitignore
[push]
  default = simple
[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto
[alias]
	lol = log --graph --decorate --oneline --all
[branch]
  autosetuprebase = always
[credential]
	helper = osxkeychain
