.DS_Store
*.cache
bin
*.sw[nop]
.bundle
.env
db/*.sqlite3
log/*.log
rerun.txt
tags
tmp/**/*
.vim/.netrwhist
.idea/
.vim/pluged/
.ruby-gemset
.ruby-version
node_modules/*
.idea
.envrc
.iml
logback.xml
system_config.js
